html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: linear-gradient(135deg, silver, grey); /* Gradient from silver to dark blue at a 135-degree angle */
    color: white; /* Set font color to white */
    border: 1px solid black; /* Add a black border around the body */
}

h1, h2, h3, p, a { /* Ensure headings and paragraphs also inherit the styles */
    color: white; /* Set text color to white for headings and paragraphs */
    text-shadow: 1px 1px 0 black; /* Optional: add a subtle black shadow for better readability */
}

.footer {
    color: white; /* Ensure footer text is white */
}
